/*
Creator: Sarath Babu
Date Created: 4/26/2019
Date last modified: 
*/
body {
	background-color: #fef9ff;
	font-family: arial, helvetica, sans-serif;
	color: #0d1f2d;
	max-width: 1400px;
	margin: auto;
}
header, footer {
    background-color: #5b7d87;
    color: #fef9ff;
	height: 100px;	
	text-align: center;
	padding: 30px 10px 20px 10px;
}
#headerfont{
	font-family: 'Open Sans', sans-serif;
	color: #4b0082;
	font-size: 4em;
}
nav {
	border-top: thin #5b7d87 solid;
	border-bottom: thin #5b7d87 solid;
	padding-top: 12px;
	padding-bottom: 12px;
}
nav .btn{
	background-color: #5b7d87;
	color: #fef9ff; 
}
nav .btn:visited {
    color: #00FFFF; 
}
nav .btn:hover {
    font-weight: bold;
}
nav .btn:active {
    color: #0000FF;
}
article img {
	width="50%";
    float:left;	
}
.clear-float {
    clear:both;
}
